.landing-wrapper {
    min-height: 100vh;
    width: 100vw;
    background: #11998e;
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
    background: linear-gradient(to right, #38ef7d, #11998e);
}

.landing-title {
    font-weight: 700;
}

.landing-subtitle {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.4rem;
}

.hero-button {
    width: 15rem;
}